/accumulated_customers.csv
/day_1_customers.csv
/day_2_customers.csv
/day_3_customers.csv
/io2
/seen_countries.txt
/sorted_new_customers_by_country.csv
/summary_of_changes.csv
mozilla.json
.gitignore
